<!DOCTYPE html>
<head>
  <title>Schedule Creator for Every type of Person. AI programmed by Ethan Castro</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='schedule.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='schedule.png') }}" class="icon" />
  <h3>Schedule Creator for Every type of person. AI programmed by Ethan Castro.</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="What kind of person are you?" required />
    <input type="submit" value="Give me my Schedule" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
